body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.center-block{
    width: 50%;
    min-width:200px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.user-name{
    float:right;
}

.post{

    border-width:0px 0px 3px 0px; 
    border-style:groove; 
    border-color: black;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-weight: bold;
}

.post-date {
    color: #999;
    margin-left: 1%;
}

.post-content {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
}
.post-author{
    float:left;
}
.post-date{
    float:left;
}
.post-info{
    float:left;
}
.function-btn-group{
    float:right;
}
.subject{
    font-size: 24px;
}

.comment-area{
    margin-top: 3%;
}

.comment{
    border-width:0px 0px 1px 0px; 
    border-style:dashed; 
    border-color: grey;
}

.comment-element{
    display: inline;
}
.clear{
   clear:both;
}
