<!DOCTYPE html>

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<meta name="google-signin-client_id" content="1034298223889-mpqu8acokll8j9foa79qnh1jmbidum2e.apps.googleusercontent.com">
		<title>Football Club Catalog</title>
	</head>
	
	<body>

		<nav class="navbar navbar-default navbar-static-top">
  			<div class="container" style="width:80%;">
      				<h3 class="navbar-text">Football Club Catalog</h3>
      				 <div id="signInButton" style="margin-top:1%; float:right;">
          				<span class="g-signin"
            				data-scope="openid email"
           	 				data-clientid="1034298223889-mpqu8acokll8j9foa79qnh1jmbidum2e.apps.googleusercontent.com"
            				data-redirecturi="postmessage"
            				data-accesstype="offline"
           					data-cookiepolicy="single_host_origin"
            				data-callback="signInCallback"
            				data-approvalprompt="force">
          				</span>
        			</div>
  			</div>
		</nav>

		<main class="container">
				{% block content%}
				{% endblock %}
		</main>

	</body>
	<script>
		function signInCallback(googleUser) {
			console.log(googleUser)
  			// var profile = googleUser.getBasicProfile();
  			$.ajax({
  				type:'POST',
  				url:'/gconnect?state={{state}}',
  				processData: false,
  				contentType: 'application/octet-stream;charset=utf-8',
  				data: googleUser.code,
  				success: function(result){
  					if(result){
  						console.log("SignedIn!");
  					}
  				}
  			});
		}
	</script>
</html>
