{% extends "base.html"%}


{% block content %}

          <form method="post" action="/country/new">
              
              <div class="row element">
                  <div class="center-block">
                    <div class="input-group"> 
                      <span class="input-group-addon">Country</span>
                      <input type="text" class="form-control" name="username" value="{{username}}">
                    </div>
                  </div>
              </div>

           </form>

{% endblock %}