<!DOCTYPE html>

<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/permission.css">
      <script href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <title>Login</title>
  </head>

  <body>
    <div class="container">
      
      <div class="row text-center">
          <h2>Login</h2>
      </div>

      <div class="row">
  
          <form method="post" >
                
                <div class="row element">
                  <div class="center-block">
                    <div class="input-group"> 
                      <span class="input-group-addon">Username</span>
                      <input type="text" class="form-control" name="username" value="{{username}}">
                    </div>
                  </div>
                </div>

                <div class="row element">
                  <div class="center-block" >
                    <div class="input-group"> 
                      <span class="input-group-addon">Password&#32&#32</span>
                      <input type="password" class="form-control" name="password" value="">
                    </div>
                  </div>
                </div>

                <div class="row error element text-center">
                  {{error}}
                </div>

                <div class="row element">
                  <div class="center-block">
                    <button type="submit" class="btn btn-lg btn-success">Login</button>
                    <a href="/register" class="btn btn-lg btn-info">Register</a>
                  </div>
                </div>
            </form>

      </div>

    </div>
  </body>
</html>
